/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require_tree .
 *= require_self
 */

 body{
   margin:0px;
 }

 h1, h2, h3{
   margin:0px;
 }

 .container{
   width: 80%;
   margin: 0 auto;
   color: #212121;
   font-family: arial;
 }

 /*.container h1{
   padding-top: 40px;
   padding-bottom: 80px;
   background-color: lightgray;
   text-align: center;
 }

 .container h2{
   text-align: center;
 }

 .container .products {
   margin-top: 50px;
 }

 .container .products .item{
   width: 33.333%;
   float:left;
   text-align: center;
 }

 .container .products .item a:hover{
   color: black;
 }*/
